---
import { getCollection } from "astro:content";
import Layout from "@layouts/Default.astro";
import BlogList from "@components/blog/BlogList.astro";

const posts = await getCollection("blog").then((collection: any[]) =>
  collection.reverse().filter((post: { data: { draft: any; }; }) => import.meta.env.DEV || !post.data.draft),
);
---

<Layout
  title="Blog"
  description="Sable's Blog | On this page you can find a collection of blogposts"
  pageTitle="Sable's Blog"
>
  <main class="bg-green p-6">
    <BlogList posts={posts} />
  </main>
</Layout>
