---
import Layout from "@layouts/Default.astro";
---
<Layout
  title="Resume"
  description="A page holding my resume and further links to the parts of my resume in their own cards"
  pageTitle="Resume">
  <main class="bg-fuchsia p-6">
    <p>holder</p>
  </main>
</Layout>